<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>馬桶車:Camera Mode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/camera.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<h1><CENTER>馬桶車</CENTER></h1>
<h2>模式切換</h2>
<div class="mode">
    <CENTER>
        <a href="{{url_for('button')}}"><input type="button" name="mode_1" value="button"></a>
        <a href="{{url_for('sensor')}}"><input type="button" name="mode_2" value="sensor"></a>
        <a href="{{url_for('camera')}}"><input type="button" name="mode_3" value="camera"></a><BR>
    </CENTER>
</div>
<h2>狀態顯示</h2>
<div class=status>
    <CENTER>
        <table>
            <tr align=center>
                <th align=center>motor</th>
                <th>Left</th>
                <th>Right</th>
                <th id="scatter" rowspan="6"></th>
            </tr>
            <tr align=center>
                <td>RPM</td>
                <td id="RPM_L">{{ data.RPM_L }}</td>
                <td id="RPM_R">{{ data.RPM_R }}</td>
            </tr>
            <tr align=center>
                <td rowspan="2">DAC</td>
                <td id="control_L">{{ data.control_L }}</td>
                <td id="control_R">{{ data.control_R }}</td>
            </tr>
            <tr>
                <td id="esp32_post" colspan="2"><span>esp32 update: </span><span id="esp32_update_dt" >{{ data.esp32_update_dt }}</span><span> ms</span></td>
            </tr>
            <tr>
                <td>WiFi</td>
                <td id="wifi" colspan="2">{{ data.SSID }}</td>
            </tr>
            <tr align=center>
                <td id="status" colspan="3">{{ data.status }}</td>
            </tr>
        </table>
    </CENTER>
</div>
<div id="camera_img">
    <CENTER>
        <img id="img" src="/static/img/img_default.jpeg" alt="影像辨識圖片"/>
    </CENTER>
</div>
<div id="frame_control">
    <CENTER>
        <h3>網頁圖片更新頻率(ms)</h3>
    </CENTER>
    <CENTER>
        <div class="slidecontainer">
            <input type="range" min="30" max="150" value="150" class="slider" id="myRange">
            <p>Value: <span id="demo"></span></p>
            <a href=# id=stop><button id="stop_btn" type="button" name="stop">{{data.stopBtn}}</button></a>
            <a href=# id=HZ_restart><button id="HZ_restart_btn" type="button" name="HZ RESTART">HZ RESTART</button></a>
        </div>
    </CENTER>
</div>
<div>
</div>
</body>
</html>

<!--load jQuery-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type=text/javascript>

var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}

setInterval(function() {
    getDynamicData()
}, 1000); // refreshing frequency (ms)
var config = {
    displayModeBar: false
}; // 工具列不顯示
var layout = {
    autoresize: false,
    height: 500,
    width: 500,

    paper_bgcolor: 'rgba(0,0,0,0)',
    plot_bgcolor: 'rgba(0,0,0,0.05)',
    xaxis: {
        range: [-150, 150],
        showticklabels: false,
    },
    yaxis: {
        range: [-20, 150],
        showticklabels: false,
    }
};

function getDynamicData() {
    $.ajax({
        url: '/newStatus',
        dataType: 'json',
        success: function(data) { // if server response data
            $("#RPM_L").html(data.RPM_L);
            $("#RPM_R").html(data.RPM_R);
            $("#control_L").html(data.control_L);
            $("#control_R").html(data.control_R);
            $("#wifi").html(data.SSID);
            $("#status").html(data.status);
            $("#esp32_update_dt").html(data.esp32_update_dt);
        }
    });
    $.ajax({
        url: '/RPM_newPlot',
        dataType: 'json',
        success: function(data) { // if server response data
            Plotly.newPlot('scatter', data, layout, config);
        } // new plot
    });
}

function getDynamicIMG() {
    var time1 = new Date();
    $.ajax({
        url: '/CAM_newIMG',
        Type: 'GET',
        timeout: 150,
        contentType: "image/jpeg",
        success: function(data) { 
            // complete只要請求完成，無論返回成功還是失敗
            // success 只有在成功執行後才會跑
            // upload new img
            //dt = new Date();
            //$('img').attr('src',+"?"+new Date());
            var time2 = new Date();
            $('img').attr('src', '/CAM_newIMG');
            console.log('newIMG success \nused time: ' + String(time2 - time1));
        },
        error: function (jqXHR, textStatus, errorThrown){
            // 若發生錯誤，列印出錯誤代碼
            var time2 = new Date();
            console.log('newIMG error :' + jqXHR.statusText + textStatus + '\nused time: ' + String(time2 - time1));
        }
    });
}

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(function() {
    $('a#stop').bind('click', function() {
        $.getJSON('/camara_mode_button_click', {
            btn: $("#stop_btn").html()
        }, function(data) {
            $("#stop_btn").html(data.stopBtn);
            if (data.stopBtn == "CONTINUE") { //執行暫停
                console.log('Stopped');
                clearInterval(IMG);
                IMG = null;
            } else { //執行重啟
                console.log('continuing');
                var IMG = setInterval(function() {
                    getDynamicIMG()
                }, output.innerHTML);  // 以Bar的值作為更新頻率
                console.log(output.innerHTML);

            }
        });
    });
});


$(function() {
    $('a#HZ_restart').bind('click', function() {
        $.getJSON('/HZ_RESTART_button_click', {
        }, function(data) {
        console.log(data.data);});
        return false;
    });
});
</script>