<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>馬桶車:Camera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/camera.css') }}">
</head>
<body>
  <h1><CENTER>馬桶車</CENTER></h1>
  <h2>模式切換</h2>
  <div class="mode">
      <CENTER>
          <a href="{{url_for('controller')}}"><input type="button" name="mode_1" value="controller"></a>
          <a href="{{url_for('sensor')}}"><input type="button" name="mode_2" value="sensor"></a>
          <a href="{{url_for('camera')}}"><input type="button" name="mode_3" value="camera"></a><BR>
      </CENTER>
  </div>
  <h2>狀態顯示</h2>
  <div class=status>
    <CENTER>
    <table>

        <tr align=center>
            <th align=center></th>
            <th>Left motor</th>
            <th>Right motor</th>
        </tr>
        <tr align=center>
            <td>Velocity</td>
            <td id="speedL">{{ data.speedL }}</td>
            <td id="speedR">{{ data.speedR }}</td>
        </tr>
        <tr align=center>
            <td>Status</td>
            <td id="statusL">{{ data.statusL }}</td>
            <td id="statusR">{{ data.statusR }}</td>
        </tr>
        <tr align=center>
            <td>Connection with esp32</td>
            <td id="control_L">{{ data.control_L }}</td>
            <td id="control_R">{{ data.control_R }}</td>
        </tr>
    </table>
        <script>
            setInterval(function(){getDynamicData()}, 1000); // refreshing frequency (ms)

            function getDynamicData() {
            $.ajax({
                url: '/newStatus',
                dataType: 'json',
                success: function(data) { // if server response data
                    $("#speedL").html(data.speedL);
                    $("#speedR").html(data.speedR);
                    $("#statusL").html(data.statusL);
                    $("#statusR").html(data.statusR);
                    $("#control_L").html(data.control_L);
                    $("#control_R").html(data.control_R);
                }
                });
            }
        </script>
    </CENTER>
  </div>

</body>
</html>

<!--load jQuery-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>