<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is Home.</title>
</head>
<body>
  <h1><CENTER>馬桶車車</CENTER></h1>
    <h2>模式切換</h2>
      <CENTER>
        <input type="button" value="controller" name="mode_1" style="width:150px;height:100px;">
        <input type="button" value="sensor" name="mode_2" style="width:150px;height:100px;">
        <input type="button" value="camera" name="mode_3" style="width:150px;height:100px;"><BR>
      </CENTER>
    <h2>方向控制</h2>


    <CENTER>
      <input type="button" value="^" name="forward" style="width:150px;height:100px;"><BR>
    </CENTER>
    <CENTER>
      <input type="button" value="<" name="left" style="width:150px;height:100px;">
      <input type="button" value="stop" name="stop" style="width:150px;height:100px;">
      <input type="button" value=">" name="right" style="width:150px;height:100px;">
    </CENTER>
    <CENTER>
      <input type="button" value="後退" name="backward" style="width:150px;height:100px;">
    </CENTER>
    <CENTER>
      <input type="button" value="倒車檔" name="倒車檔" style="width:100px;height:50px;">
    </CENTER>
</body>
</html>