<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>馬桶車:Controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <h1><CENTER>馬桶車</CENTER></h1>
  <h2>模式切換</h2>
  <div class="mode">
      <CENTER>
          <a href="{{url_for('controller')}}"><input type="button" name="mode_1" value="controller"></a>
          <a href="{{url_for('sensor')}}"><input type="button" name="mode_2" value="sensor"></a>
          <a href="{{url_for('camera')}}"><input type="button" name="mode_3" value="camera"></a><BR>
      </CENTER>
  </div>
  <h2>狀態顯示</h2>
  <div class=status>
    <CENTER>
    <table>
        <tr align=center>
            <th align=center></th>
            <th>Left motor</th>
            <th>Right motor</th>
            <th id="scatter" rowspan="5"></th>
        </tr>
        <tr align=center>
            <td>RPM</td>
            <td id="speedL">{{ data.speedL }}</td>
            <td id="speedR">{{ data.speedR }}</td>
        </tr>
        <tr align=center>
            <td>Signal Control</td>
            <td id="control_L">{{ data.control_L }}</td>
            <td id="control_R">{{ data.control_R }}</td>
        </tr>
        <tr align=center>
            <td>Status</td>
            <td id="statusL">{{ data.statusL }}</td>
            <td id="statusR">{{ data.statusR }}</td>
        </tr>
        <tr>
            <td id="wifi" colspan="3">現在連接的WiFi是：{{ data.WiFi_SSID }}</td>
        </tr>
    </table>
        <script>
            setInterval(function(){getDynamicData()}, 1000); // refreshing frequency (ms)
            var config = {displayModeBar: false}; // 工具列不顯示
            var layout = {
                autoresize: false,
                height: 600,
                width: 500,

                paper_bgcolor: 'rgba(0,0,0,0)',
                plot_bgcolor: 'rgba(0,0,0,0.05)',
                xaxis: {
                    range: [-2000, 2000],
                    showticklabels: false,
                },
                yaxis: {
                    range: [-2000, 2000],
                    showticklabels: false,
                }
            };

            function getDynamicData() {
            $.ajax({
                url: '/newStatus',
                dataType: 'json',
                success: function(data) { // if server response data
                    $("#speedL").html(data.speedL);
                    $("#speedR").html(data.speedR);
                    $("#statusL").html(data.statusL);
                    $("#statusR").html(data.statusR);
                    $("#control_L").html(data.control_L);
                    $("#control_R").html(data.control_R);
                }
                });
            $.ajax({
                url: '/newPlot',
                dataType: 'json',
                success: function(data) { // if server response data
                Plotly.newPlot('scatter', data, layout, config); } // new plot
                });
            }
        </script>
    </CENTER>
  </div>
  <h2>方向控制</h2>
  <div class="direction">
      <CENTER>
          <a href=# id=forward><button type="button" name="forward">^</button></a><BR>
      </CENTER>
      <CENTER>
          <a href=# id=left><button type="button" name="left"><</button></a>
          <a href=# id=stop><button type="button" name="stop">stop</button></a>
          <a href=# id=right><button type="button" name="right">></button></a>
      </CENTER>
      <CENTER>
          <a href=# id=backward><button type="button" name="backward">倒車檔</button></a>
      </CENTER>
      </a>
  </div>
</body>
</html>

<!--load jQuery-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type=text/javascript>
        $(function() {
          $('a#forward').bind('click', function() {
            $.getJSON('/mode1_button_click',{
                a : this.id
            },function(data) {
            });
        return false;
      });
    });
</script>

<script type=text/javascript>
        $(function() {
          $('a#left').bind('click', function() {
            $.getJSON('/mode1_button_click',{
                a : this.id
            },function(data) {
            });
        return false;
      });
    });
</script>

<script type=text/javascript>
        $(function() {
          $('a#stop').bind('click', function() {
            $.getJSON('/mode1_button_click',{
                a : this.id
            },function(data) {
            });
        return false;
      });
    });
</script>

<script type=text/javascript>
        $(function() {
          $('a#right').bind('click', function() {
            $.getJSON('/mode1_button_click',{
                a : this.id
            },function(data) {
            });
        return false;
      });
    });
</script>

<script type=text/javascript>
        $(function() {
          $('a#backward').bind('click', function() {
            $.getJSON('/mode1_button_click',{
                a : this.id
            },function(data) {
            });
        return false;
      });
    });
</script>