<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>馬桶車:SensorPlot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sensor_plot.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<h1><CENTER>馬桶車</CENTER></h1>
<h2>模式切換</h2>
<div class="mode">
      <CENTER>
          <a href="{{url_for('controller')}}"><input type="button" name="mode_1" value="controller" style="width:150px;height:30px;"></a>
          <a href="{{url_for('sensor')}}"><input type="button" name="mode_2" value="sensor" style="width:150px;height:30px;"></a>
          <a href=# id=mode3 ><input type="button" name="mode_3" value="camera" style="width:150px;height:30px;"></a><BR>
      </CENTER>
</div>
<h2>狀態顯示</h2>
<div class="container">
    <div class="chart" id="scatter">
        <script>
            var int = setInterval(function(){getDynamicData()}, 1000); // refreshing frequency (ms)
            var layout = {
                xaxis: {
                    title: 'x-direction',
                    range: [-2000, 2000],
                },
                yaxis: {
                    title: 'y-direction',
                    range: [-2000, 2000],
                }
                };
            function getDynamicData() {
            $.ajax({
                url: '/fresh',
                dataType: 'json',
                success: function(data) { // if server response data
                Plotly.newPlot('scatter', data, layout); } // new plot
                });
            }
        </script>
    </div>
</div>
<div>
    <CENTER>
        <a href=# id=stop><button id="stop_btn" type="button" name="stop" style="width:150px;height:50px;">停止</button></a>
    </CENTER>
</div>

</body>
</html>

<!--load jQuery-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type=text/javascript>
        $(function() {
          $('a#stop').bind('click', function() {
          $("#stop_btn").html('sss');
          $.getJSON('/mode2_button_click',{
            a: this
          },function(data) {
          });
      });
    });
</script>