h1{
  color:#fff; /* 字體:顏色 */
  font-size:50px; /* 字體:大小 */
  font-weight:bold;
  background-color:#ff6d00; /* 背景:顏色 */
  padding:0px; /* 內距:寬度 */
}

h2{
  color: #293241;
  font-size: 40px;
  font-weight: bold;
  background-color: #fff;
  border-left: 7px solid #642100; /* 左邊框:寬度 樣式 顏色 */
  padding:10px;
}

.mode input{
  width:30%;
  font-size:40px;
  border:0;
  margin-bottom:0.4rem;
  background-color:#ffba08;
  color:#fff;
  border-radius:5px;
  cursor:pointer;
}

.mode input:hover{
  color:#ffba08;
  background-color:#fff;
  border:4px #ffba08 solid;
}

.status table {
  font-family: 微軟正黑體;
  font-size:40px;
  width:100%;
  text-align:center;
  border-radius:5px;
}

.status table {
  font-family: 微軟正黑體;
  font-size:40px;
  width:100%;
  text-align:center;
  border-radius:5px;
}

.status th {
  color:#fff;
  background-color: #48cae4;
  border:2px solid #fff;
  padding:6px;
  border-radius:5px;
}

.status td {
  background-color: #e0fbfc;
  border:2px solid #fff;
  padding:6px;
  border-radius:5px;
}

#scatter{
  background-color: #E0FBFC;
  margin-bottom:0rem;
  margin-top:0rem;
  border:4px #48cae4 solid;
  padding:0px;
}
#wifi{
  font-size: 40px;
  text-align:center;
}

.direction button{
  font-size:18px;
  border:0;
  margin-bottom:0.4rem;
  background-color:#293241;
  color:#fff;
  border-radius:10px;
  cursor:pointer;
}

.direction button:hover{
  color:#293241;
  font-size:18px;
  background-color:#fff;
  border:2px #ee6c4d solid;
}
