<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>馬桶車:Button Mode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<h1><CENTER>馬桶車</CENTER></h1>
<h2>模式切換</h2>
<div class="mode">
    <CENTER>
        <a href="{{url_for('button')}}"><input type="button" name="mode_1" value="button"></a>
        <a href="{{url_for('sensor')}}"><input type="button" name="mode_2" value="sensor"></a>
        <a href="{{url_for('camera')}}"><input type="button" name="mode_3" value="camera"></a><BR>
    </CENTER>
</div>
<h2>狀態顯示</h2>
<div class=status>
    <CENTER>
        <table>
            <tr align=center>
                <th align=center>motor</th>
                <th>Left</th>
                <th>Right</th>
                <th id="scatter" rowspan="6"></th>
            </tr>
            <tr align=center>
                <td>RPM</td>
                <td id="RPM_L">{{ data.RPM_L }}</td>
                <td id="RPM_R">{{ data.RPM_R }}</td>
            </tr>
            <tr align=center>
                <td rowspan="2">DAC</td>
                <td id="control_L">{{ data.control_L }}</td>
                <td id="control_R">{{ data.control_R }}</td>
            </tr>
            <tr>
                <td id="esp32_post" colspan="2"><span>esp32 POST: </span><span id="esp32_post_dt" >{{ data.esp32_post_dt }}</span><span> ms</span></td>
            </tr>
            <tr>
                <td>WiFi</td>
                <td id="wifi" colspan="2">{{ data.SSID }}</td>
            </tr>
            <tr align=center>
                <td id="status" colspan="3">{{ data.status }}</td>
            </tr>
        </table>
    </CENTER>
</div>
<h2>方向控制</h2>
<div class="direction">
    <CENTER>
        <a href=# id=forward><button type="button" name="forward">^</button></a><BR>
    </CENTER>
    <CENTER>
        <a href=# id=left><button type="button" name="left"><</button></a>
        <a href=# id=stop><button type="button" name="stop">stop</button></a>
        <a href=# id=right><button type="button" name="right">></button></a>
    </CENTER>
    <CENTER>
        <a href=# id=backward><button type="button" name="backward">倒車檔</button></a>
    </CENTER>
</div>
</body>
</html>

<!--load jQuery-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type=text/javascript>
setInterval(function() {
    getDynamicData()
}, 10); // refreshing frequency (ms)
var config = {
    displayModeBar: true
}; // 工具列不顯示
var layout = {
    autoresize: false,
    height: 500,
    width: 400,

    paper_bgcolor: 'rgba(0,0,0,0)',
    plot_bgcolor: 'rgba(0,0,0,0.05)',
    xaxis: {
        range: [-150, 150],
        showticklabels: false,
    },
    yaxis: {
        range: [-20, 150],
        showticklabels: false,
    }
};

function getDynamicData() {
    $.ajax({
        url: '/newStatus',
        dataType: 'json',
        success: function(data) { // if server response data
            $("#RPM_L").html(data.RPM_L);
            $("#RPM_R").html(data.RPM_R);
            $("#control_L").html(data.control_L);
            $("#control_R").html(data.control_R);
            $("#wifi").html(data.SSID);
            $("#status").html(data.status);
            $("#esp32_post_dt").text(data.esp32_post_dt);
        }
    });
    $.ajax({
        url: '/RPM_newPlot',
        dataType: 'json',
        success: function(data) { // if server response data
            Plotly.newPlot('scatter', data, layout, config);
        } // new plot
    });
}

$(function() {
    $('a#forward').bind('click', function() {
        //document.getElementById("status").innerHTML += "button#forward clicked";
        $.getJSON('/button_mode_button_click', {
            a: this.id
        }, function(data) {});
        return false;
    });
});

$(function() {
    $('a#left').bind('click', function() {
        $.getJSON('/button_mode_button_click', {
            a: this.id
        }, function(data) {});
        return false;
    });
});

$(function() {
    $('a#stop').bind('click', function() {
        $.getJSON('/button_mode_button_click', {
            a: this.id
        }, function(data) {});
        return false;
    });
});

$(function() {
    $('a#right').bind('click', function() {
        $.getJSON('/button_mode_button_click', {
            a: this.id
        }, function(data) {});
        return false;
    });
});

$(function() {
    $('a#backward').bind('click', function() {
        $.getJSON('/button_mode_button_click', {
            a: this.id
        }, function(data) {});
        return false;
    });
});
</script>